nav{float: left; width: 30%; padding: 10px;background-color: aquamarine;

}
main{float: left; width: 30%; padding: 10px;background-color: aqua;

}
aside{float: left; width: 30%; padding: 10px;background-color: blue;

}

img{height: 100px;width: 100px;}